* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(80, 212, 168), rgb(218, 255, 255));
}
h1 {
  text-align: center;
  background-color: brown;
}
.perfil {
  width: 200px;
}
.perfil {
  max-width: 200px;
  border: 4px solid gold;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}
h2 {
  background-color: darkgrey;
}
h3 {
  color: beige;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  min-width: 10%;
  min-height: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px orange solid;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"] {
  border: 5px rgb(2, 2, 13) solid;
  box-shadow: 5px rgb(255, 208, 0);
}
.button {background-color: #4CAF50 COLOR;
  WHITE;PADDING: 15PX 32PX;
   text-align: center;text-decoration: none;
    DISPLAY: inline-blok;
     font-size: 16px;margin: 4px 2px;
      cursor: pointer}

.button:hover{
 border: #555 2px solid;
 box-shadow: 5px 5px 5px #555;
 color: red
}
table {border-collapse: collapse;
width: 100%;}
td, th {border: 1px solid black;
 text-align: left;
 padding: 8px}

/*estilos de principal*/
header{background: yellow;
text-align: center;
border-radius: 10px;
padding: 1rem;
color: rgb(94, 49, 49);
grid-area: header;}

nav{background: blue;
 text-align: center;
 border-radius: 10px;
 padding: 1rem;
 color: white;
grid-area: nav;}

 main{background: pink;
     text-align: center;
     border-radius: 10px;
     padding: 1rem;
     color: white;
 grid-area: main;}

     aside{background:rgb(206, 35, 206);
         text-align: center;
         border-radius: 10px;
         padding: 1rem;
         color: white;
     grid-area: aside;}

         footer{background: rgb(15, 216, 15);
             text-align: center;
             border-radius: 10px;
             padding: 1rem;
             color: white;
         grid-area: foorte;}
body {
 display: grid;
 gap: 2px;
 grid-template:
 "header" 100px
 "nav" 50px
 "main" auto
 "aside" 100px
 "foorte" 50px / auto;
}
.perfil{
  max-width:  5000px;
  border: 5px solid rgb(255, 0, 0);
  border-radius:5px ;
  box-shadow: 5px 5px 5px black;

}
h2{
  color: white;
}
h3{
  color: white;

}
input[type="text"], input[type="email"],input[type="number"] {
  min-width: 10%;
  min-height: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px purple;
}
input[type="text"] :hover, input[type="email"]:hover , input[type="number"]:hover {
  border: 2px gray solid;
  box-shadow: 5px purple;
}
a:hover{
  text-shadow: 5px 5px 10px;
}
.button{
  background-color: aqua;
  color: white;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
  cursor:pointer;
  border-radius:5px;
  box-shadow:5px;
}
.button:hover{
  border: red 2px solid;
  box-shadow: 5px 5px 5px grey;
  font-size: 20px;
  color: rgb(127, 38, 38);
}

table{
  border-collapse:collapse;width:100%;
}
td,th{
  border:1px solid black;
  text-align:left;
  padding:8px;
}
